.search-box{

width:350px;

padding:12px;

border:1px solid #d1d5db;

border-radius:8px;

margin-bottom:20px;

}

.btn-delete{

background:#dc2626;

color:#ffffff;

padding:8px 15px;

border:none;

border-radius:6px;

cursor:pointer;

transition:.3s;

}

.btn-delete:hover{

background:#b91c1c;

}